{% extends "base.jinja2" %}

{% block title %}Debt by AI{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/offensive">Offensive Mode</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/defensive">Defensive Mode</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/leaderboard">Leaderboard</a>
</li>
{% endblock %}

{% block body %}
<div class="container">
Debt by AI is a game where you have to convince an AI to get into debt, or to get you out of it.
The 2 modes are Offensive(When you have to convince it to get into it) and Defensive(When you have to get out of it).
The game was inspired by Death by AI, a game on Discord, but this game has no affiliation with Discord or any subsidiaries.
</div>
{% endblock%}