{% extends "base.jinja2" %}

{% block title %}Debt by AI{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/offensive">Offensive Mode</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/defensive">Defensive Mode</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/leaderboard">Leaderboard</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/profile">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
</li>
{% endblock %}

{% block body %}
<div class="position-absolute top-50 start-50 translate-middle">
<h2>Debt by AI is a game where you have to convince an AI to get into debt, or to get you out of it.</p>

<h4>The 2 modes are:</h4>
<ul>
<li><h5>Offensive: You have to convince AI to get into debt.</h5></li>
<li><h5>Defensive: You have to convince AI with a solution to get out of debt.</h5></li>
</ul>

<h4>Will you remove your own debt, or will you be an aggressor and cause debt? Let's see!</h4>

</div>
{% endblock%}