{% extends "base.jinja2" %}

{% block title %}Debt by AI Leaderboard{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/offensive">Offensive Mode</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/leaderboard">Leaderboard</a>
</li>
{% endblock %}

{% block body %}
TBD
{% endblock%}